<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Conversor de Moedas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="listar-simbolos">Listar símbolos</a>
        <a class="nav-link" href="converter-real-dolar">Converter Real para Dolar</a>
        <a class="nav-link" href="converter-moedas">Converter Moedas</a>
      </div>
    </div>
  </div>
</nav>
